<div class="login-content">
    <div class="login-form flex column">
        <label for="username">Username</label>
        <input type="text" id="username" />
        <label for="email">Email</label>
        <input type="email" id="email" />
        <label for="password">Password</label>
        <input type="password" id="password" />
        <label for="confirm">Confirm Password</label>
        <input type="password" id="confirm" />
        <button id="register">Register</button>
    </div>
</div>
<script src="/src/js/register.js"></script>